/* LOGO

*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

/* Button Entry
font-family: 'Roboto Condensed', sans-serif;
*/
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&display=swap');

/*  */
@font-face {
  font-family: 'A1MinchoStd';
  font-weight: bold;
  src:  url('../fonts/a1minchostd.otf') format("opentype");
}
